/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
#game-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 10px;
  margin: auto;
  padding-top: 50px;

}

.grid-cell{
  height: 120px;
  width: 120px;
  background-color: tomato;
  border: 1px solid black;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.disable{
  pointer-events: none;
}